<section class="favourite-page__item-real row  gy-3 product-item-without-big-button">
    <div class="col favourite-page__item-img d-sm-none">
        <img src="./products/ec3nc/cafe-01-md.png" alt="Coffee Beans - Espresso Arabica and Robusta Beans">
    </div>
    <div class="col">
        <div class="row gx-2 gy-2 row-jc-space-between row-align-center">
            <div class="col-8 col-sm-12 favourite-page__item-a">
                <h2 class="favourite-page__item-name">Coffee Beans - Espresso Arabica and Robusta Beans</h2>
            </div>
            <div class="col-4 col-sm-12 favourite-page__item-b">
                <p class="favourite-page__item-price">$9999.99</p>
            </div>
            <div class="col-12 favourite-page__item-per d-flex row-jc-flex-start favourite-page__item-c">
                <span>$47.00</span>
                <span>|</span>
                <span>In Stock</span>
            </div>
            <div class="col-12 col-xl-12  favourite-page__item-d">
                <div class="row gx-3 gy-3 row-jc-space-between ">
                    <div class="col-4 col-lg-9 ">
                        <div class="row gx-3 gy-3 row-cols-lg-2 row-jc-sm-flex-start">
                            <div class="col ">
                                <div class="combobox combobox__type-2 favourite-page__item-combobox">
                                    <div class="combobox__value combobox__type-2--first">
                                        <span>500g</span>
                                        <img src="./icons/arrow-down.svg" alt="" class="webpage__icon">
                                    </div>
                                </div>
                            </div>
                            <div class="col ">
                                <div class="quantity">
                                    <button class="button" title="remove">
                                        <img src="./icons/minus.svg" class="webpage__icon" alt="">
                                    </button>
                                    <span>99</span>
                                    <button class="button" title="add">
                                        <img src="./icons/plus.svg" class="webpage__icon" alt="">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 col-lg-8 col-sm-11">
                        <div class="row gx-3 gy-3 row-jc-sm-flex-start row-cols-2">
                            <div class="col col-lg-4  col-lg-6 col-sm-4 d-flex row-align-center row-jc-center row-jc-lg-flex-start">
                                <button class="button__type-6">
                                    <span class="button__icon">
                                        <img src="./icons/heart-color.svg" alt="">
                                    </span>
                                    <span>Save</span>
                                </button>
                            </div>
                            <div class="col col-lg-4 col-lg-6 col-sm-4 d-flex row-align-center row-jc-center">
                                <button class="button__type-6">
                                    <span class="button__icon">
                                        <img src="./icons/trash.svg" alt="">
                                    </span>
                                    <span>Delete</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="favourite-page__item-real row  gy-3 product-item-with-big-button">
    <div class="col favourite-page__item-img d-sm-none">
        <img src="./products/ec3nc/cafe-01-md.png" alt="Coffee Beans - Espresso Arabica and Robusta Beans">
    </div>
    <div class="col">
        <div class="row gx-2 gy-2 row-jc-space-between row-align-center">
            <div class="col-8 col-sm-12 favourite-page__item-a">
                <h2 class="favourite-page__item-name">Coffee Beans - Espresso Arabica and Robusta Beans</h2>
            </div>
            <div class="col-4 col-sm-12 favourite-page__item-b">
                <p class="favourite-page__item-price">$9999.99</p>
            </div>
            <div class="col-12 favourite-page__item-per d-flex row-jc-flex-start favourite-page__item-c">
                <span>$47.00</span>
                <span>|</span>
                <span>In Stock</span>
            </div>
            <div class="col-8 col-xl-12  favourite-page__item-d">
                <div class="row gx-3 gy-3 row-jc-flex-start ">
                    <div class="col col-lg-9 ">
                        <div class="row gx-3 gy-3 row-cols-lg-2 row-jc-sm-flex-start">
                            <div class="col ">
                                <div class="combobox combobox__type-2 favourite-page__item-combobox">
                                    <div class="combobox__value combobox__type-2--first">
                                        <span>500g</span>
                                        <img src="./icons/arrow-down.svg" alt="" class="webpage__icon">
                                    </div>
                                </div>
                            </div>
                            <div class="col ">
                                <div class="quantity">
                                    <button class="button" title="remove">
                                        <img src="./icons/minus.svg" class="webpage__icon" alt="">
                                    </button>
                                    <span>99</span>
                                    <button class="button" title="add">
                                        <img src="./icons/plus.svg" class="webpage__icon" alt="">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-8 col-sm-11">
                        <div class="row gx-3 gy-3 row-jc-sm-flex-start row-cols-2">
                            <div class="col col-lg-4  col-lg-6 col-sm-4 d-flex row-align-center row-jc-center row-jc-lg-flex-start">
                                <button class="button__type-6">
                                    <span class="button__icon">
                                        <img src="./icons/heart-color.svg" alt="">
                                    </span>
                                    <span>Save</span>
                                </button>
                            </div>
                            <div class="col col-lg-4 col-lg-6 col-sm-4 d-flex row-align-center row-jc-center">
                                <button class="button__type-6">
                                    <span class="button__icon">
                                        <img src="./icons/trash.svg" alt="">
                                    </span>
                                    <span>Delete</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 col-xl-4 col-lg-6 col-md-12 favourite-page__item-e">
                <button class="button button__type-1 favourite-page__item-checkout">Check Out</button>
            </div>
        </div>
    </div>
</section>

