<div class="account__header">
    <div class="account__header-wrapper"></div>
    <div class="account__header-real">
        <img src="./users/img/0000.png" alt="Imran Khan">
        <h1 class="account__header-name">Imran Khan</h1>
        <p class="account__header-join">Registered: 17th May 2022</p>
    </div>
</div>
<div class="common-container account__action-list">
    <div class="row row-cols-1 gy-3">
        <div class="col">
            <p class="account__action-title">Manage Account</p>
            <ul class="account__action-ul">
                <li>
                    <button class="button button__type-2">
                        <img src="./icons/user.svg" alt="" class="button__icon webpage__icon">
                        <span>Personal info</span>
                    </button>
                </li>
                <li>
                    <button class="button button__type-2">
                        <img src="./icons/location.svg" alt="" class="button__icon webpage__icon">
                        <span>Addresses</span>
                    </button>
                </li>
                <li>
                    <button class="button button__type-2">
                        <img src="./icons/mail.svg" alt="" class="button__icon webpage__icon">
                        <span>Communications & privacy</span>
                    </button>
                </li>
            </ul>
        </div>
        <div class="col">
            <p class="account__action-title">My items</p>
            <ul class="account__action-ul">
                <li>
                    <button class="button button__type-2">
                        <img src="./icons/download.svg" alt="" class="button__icon webpage__icon">
                        <span>Reorder</span>
                    </button>
                </li>
                <li>
                    <button class="button button__type-2">
                        <img src="./icons/heart.svg" alt="" class="button__icon webpage__icon">
                        <span>Lists</span>
                    </button>
                </li>
                <li>
                    <button class="button button__type-2">
                        <img src="./icons/registries.svg" alt="" class="button__icon webpage__icon">
                        <span>Registries</span>
                    </button>
                </li>
            </ul>
        </div>
        <div class="col">
            <p class="account__action-title">Subscriptions & plans</p>
            <ul class="account__action-ul">
                <li>
                    <button class="button button__type-2">
                        <img src="./icons/shield.svg" alt="" class="button__icon webpage__icon">
                        <span>Protection plans</span>
                    </button>
                </li>
            </ul>
        </div>
        <div class="col">
            <p class="account__action-title">Customer Service</p>
            <ul class="account__action-ul">
                <li>
                    <button class="button button__type-2">
                        <img src="./icons/info.svg" alt="" class="button__icon webpage__icon">
                        <span>Help</span>
                    </button>
                </li>
                <li>
                    <button class="button button__type-2">
                        <img src="./icons/exclamation.svg" alt="" class="button__icon webpage__icon">
                        <span>Terms of Use</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>