<div class="container">
    <div class="row">
        <div class="footer__wrapper">
            <div class="footer__company-info">
                <a href="./index.html" class="brand"></a>
                <div class="footer__meta">
                    <img src="./icons/location.svg" class="webpage__icon" alt="">
                    <p>8819 Ohio St. South Gate,CA 90280</p>
                </div>
                <div class="footer__meta">
                    <img src="./icons/mail.svg"  class="webpage__icon" alt="">
                    <a href="mailto:Ourstudio@hello.com">
                        <p>Ourstudio@hello.com</p>
                    </a>
                </div>
                <div class="footer__meta">
                    Copyright @grocerymall 2024
                </div>
            </div>
            <div class="footer__product-list">
                <div class="footer__product-item">
                    <h3 class="footer__product-title">Websites</h3>
                    <ul class="footer__product-nodes d-grid d-md-flex">
                        <li>
                            <a href="#!">Illustration</a>
                        </li>
                        <li>
                            <a href="#!">Mobile Design</a>
                        </li>
                        <li>
                            <a href="#!">Motion Graphic</a>
                        </li>
                        <li>
                            <a href="#!">Web Design</a>
                        </li>
                        <li>
                            <a href="#!">Development</a>
                        </li>
                        <li>
                            <a href="#!">SEO</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__product-item">
                    <h3 class="footer__product-title">Beauty</h3>
                    <ul class="footer__product-nodes d-grid d-md-flex">
                        <li>
                            <a href="#!">Illustration</a>
                        </li>
                        <li>
                            <a href="#!">Mobile Design</a>
                        </li>
                        <li>
                            <a href="#!">Motion Graphi</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__product-item">
                    <h3 class="footer__product-title">PC WORLD</h3>
                    <ul class="footer__product-nodes d-grid d-md-flex">
                        <li>
                            <a href="#!">Illustration</a>
                        </li>
                        <li>
                            <a href="#!">Mobile Design</a>
                        </li>
                        <li>
                            <a href="#!">Motion Graphi</a>
                        </li>
                        <li>
                            <a href="#!">Development</a>
                        </li>
                        <li>
                            <a href="#!">SEO</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__seperator d-none d-sm-block"></div>
            <div class="footer__subscribe">
                <h3 class="footer__subscribe-title">Websites</h3>
                <form action="" class="footer__email">
                    <label for="footer__email-input" class="footer__email-caption">Your Email</label>
                    <div class="txtbox txtbox__type-2 footer__email-txtwrapper">
                        <input type="email" name="footer__email-input" id="footer__email-input" class="footer__email-input txtbox__type-2--real" placeholder="Type your email for subscription">
                    </div>
                    <button type="submit" class="button__type-1 footer__email-send ">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>