<div class="container">
    <div class="header__wrapper">
        <a href="javascript:;" class="header__nav-dropdown" title="View menu">
            <img src="./icons/menu-dropdown.svg" alt="" class="header__icon">
        </a>
        <section class="header__main">
            <a href="./index.html" class="brand"></a>
            <nav class="header__nav navbar">
                <ul>
                    <li class="navbar__item">
                        <a href="#!" title="Departments">Departments
                            <img src="./icons/arrow-down.svg" class="header__icon" alt="">
                        </a>

                        <div class="megamenu" style="--arrow-position: 0;">
                            <div class="megamenu__inner">Just Communication</div>
                        </div>
                    </li>
                    <li class="navbar__item">
                        <a href="#!" title="Grocery">Grocery
                            <img src="./icons/arrow-down.svg" class="header__icon" alt="">
                        </a>

                        <div class="megamenu" style="--arrow-position: 0;">
                            <div class="megamenu__inner">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam, qui tenetur esse explicabo deserunt officia maxime soluta quo tempore distinctio enim saepe, nihil quam a nostrum fugiat sapiente culpa minima?</div>
                        </div>
                    </li>
                    <li class="navbar__item">
                        <a href="#!" title="Beauty">Beauty
                            <img src="./icons/arrow-down.svg" class="header__icon" alt="">
                        </a>

                        <div class="megamenu" style="--arrow-position: 0;">
                            <div class="megamenu__inner">Takayama Minami</div>
                        </div>
                    </li>
                </ul>
            </nav>
        </section>
        <div class="header__dashboard">
            <div class="header__button-container">
                <button class="header__button header__search">
                    <img src="./icons/search.svg" class="header__icon" alt="Search items">
                </button>
            </div>
            <div class="header__button-container header__button-container--long">
                <button class="header__button header__fav">
                    <img src="./icons/heart.svg" class="header__icon" alt="Favourite items">
                    <span>03</span>
                </button>
                <div class="header__button-separate"></div>
                <button class="header__button header__cart">
                    <img src="./icons/cart.svg" class="header__icon" alt="Cart">
                    <span>$65.42</span>
                </button>
            </div>
            <a href="#!" class="header__user-avatar">
                <img src="./users/img/0000.png" alt="Vanessa Kinnegral">
            </a>
        </div>
    </div>
</div>