<div class="container">
    <div class="header__wrapper">
        <section class="header__main">
            <section class="brand"></section>
            <nav class="header__nav">
                <ul>
                    <li>
                        <a href="#!" title="Departments">Departments
                            <img src="./icons/arrow-down.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#!" title="Grocery">Grocery
                            <img src="./icons/arrow-down.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#!" title="Beauty">Beauty
                            <img src="./icons/arrow-down.svg" alt="">
                        </a>
                    </li>
                </ul>
            </nav>
        </section>
        <div class="header__dashboard">
            <div class="header__button-container">
                <button class="header__button header__search">
                    <img src="./icons/search.svg" alt="Search items">
                </button>
            </div>
            <div class="header__button-container header__button-container--long">
                <button class="header__button header__fav">
                    <img src="./icons/heart.svg" alt="Favourite items">
                    <span>03</span>
                </button>
                <div class="header__button-separate"></div>
                <button class="header__button header__cart">
                    <img src="./icons/cart.svg" alt="Cart">
                    <span>$65.42</span>
                </button>
            </div>
            <a href="#!" class="header__user-avatar">
                <img src="./users/img/0000.png" alt="Vanessa Kinnegral">
            </a>
        </div>
    </div>
</div>
<script>
    
</script>