<div class="header__dashboard-item header__button-container header__button-container--long d-flex d-sm-none">
    <button class="header__button header__fav">
        <img src="./icons/heart.svg" class="webpage__icon" alt="Favourite items">
        <span class="d-inline d-md-none">03</span>
    </button>
    <div class="header__button-separate"></div>
    <button class="header__button header__cart">
        <img src="./icons/cart.svg" class="webpage__icon" alt="Cart">
        <span class="d-inline d-md-none">$65.42</span>
    </button>
</div>

<a href="#!" class="header__dashboard-item header__user-avatar">
    <img src="./users/img/0000.png" alt="Vanessa Kinnegral">
</a>