@use "./variables" as v;
@use "sass:list";
@mixin flex-center($jc: center, $g: null) {
    display: flex; align-items: center;justify-content: $jc;
    gap: $g;
}
@mixin flex($ai: center, $jc: center, $g: null) {
    display: flex; align-items: $ai;justify-content: $jc;
    gap: $g;
}
@mixin square-icon($size, $bdrs: null, $center: false) {
    width: $size; height: $size; 
    border-radius: $bdrs;
    @if $center==true {
        @include flex-center()
    }
}


@mixin responsive($bp) {
    $bp-list: sm md lg xl xxl;
    @if (list.index($bp-list, $bp)!=null) {
        @media all and (max-width: #{map-get(v.$breakpoints, $bp)} ) {
            @content;
        }
    } @else {
        @error "Check the breakpoint again!";
    }
}

@mixin sticky {position: sticky; top: 0;}
%fw-ps {display: block;content: attr(title);font-weight: 900;height: 0;overflow: hidden;visibility: hidden;}
@mixin linelimit($num) {display: -webkit-box; -webkit-line-clamp: $num; -webkit-box-orient:vertical; overflow: hidden;}
// text
%common-lh {line-height: 1.42;}
%rg-14 {font-size: 1.4rem; font-weight: 400; @extend %common-lh;}
%rg-15 {font-size: 1.4rem; font-weight: 400; @extend %common-lh;}

%md-14 {font-size: 1.4rem; font-weight: 500; @extend %common-lh;}
%md-15 {font-size: 1.5rem; font-weight: 500; @extend %common-lh;}
%md-16 {font-size: 1.6rem; font-weight: 500; @extend %common-lh;}
%md-18 {font-size: 1.8rem; font-weight: 500; @extend %common-lh;}

%b-14 {font-size: 1.4rem; font-weight: 700; @extend %common-lh;}
%b-24 {font-size: 2.4rem; font-weight: 700; @extend %common-lh;}
%b-22 {font-size: 2.2rem; font-weight: 700; @extend %common-lh;}

