@use "./variables" as v;
@use "sass:list";
@mixin flex-center($jc: center, $g: null) {
    display: flex; align-items: center;justify-content: $jc;
    gap: $g;
}
@mixin square-icon($size, $bdrs: null, $center: false) {
    width: $size; height: $size; 
    border-radius: $bdrs;
    @if $center==true {
        @include flex-center()
    }
}


@mixin responsive($bp) {
    $bp-list: sm md lg xl xxl;
    @if (list.index($bp-list, $bp)!=null) {
        @media all and (max-width: #{map-get(v.$breakpoints, $bp)} ) {
            @content;
        }
    } @else {
        @error "Check the breakpoint again!";
    }
}

// box-shadow {

// text
%md-15 {font-size: 1.5rem; font-weight: 500; line-height: 1.45;}

