html[theme="dark"] {
    --body-bg: #292e39;
    --scrollbar: #ffffff;
    
    --header-top-cta: #292e39;
    --header-bg: #171c28;
    --heading-box-shadow: rgba(237, 237, 246, 0.20);

    --header-submenu-title-selected: #f2f845;
    
    // secondary colors
    --txt-caption: #ffffff;
    --icon-caption: invert(99%) sepia(1%) saturate(0%) hue-rotate(251deg) brightness(108%) contrast(100%);

    --seperator: #ededf6;

    // navigation bar
    --navbar-close: brightness(0.7);
    //menu
    --megamenu: #292E39;
    --megamenu-arrow: brightness(0) saturate(100%) invert(17%) sepia(7%) saturate(1544%) hue-rotate(183deg) brightness(91%) contrast(94%);
    --megamenu-shadow: rgba(23, 28, 40, 0.40);
    --megamenu-seperator: #171C28;
    --megamenu-link-hover: #0071DC;

    --megamenu-text: #B9BABE;

    // slideshow
    --slideshow-caption-color: #FFFFFF;

    // category
    --category-price: #ffffff;
    --category-img: #292E39;
    --category-item: #171C28;
    --category-blur: #000000;

    // products
    --product-filter: #ffffff;
    --product-filter--hover: #00ff2a;
    --product-bg: #171C28;
    --product-shadow: rgba(17, 17, 35, 0.2);
    --product-reaction: #292E39;
    --product-name-hover: #00ff2a;

    --filter-dialog: #292E39;
    
    
    // css components 
    --slider-thumb: #171C28;

    --button-type-3-bg: #171C28;
    --button-type-3-bg-selected: #752708;
    --button-type-3-color: #9E9DA8;
    --button-type-3-color-selected: var(--txt-caption);
}