html[theme="dark"] {
    --body-bg: #292e39;
    --scrollbar: #ffffff;
    
    --header-top-cta: #292e39;
    --header-bg: #171c28;
    --heading-box-shadow: rgba(237, 237, 246, 0.20);

    --header-submenu-title-selected: #f2f845;
    
    // secondary colors
    --txt-caption: #ffffff;
    --icon-caption: invert(99%) sepia(1%) saturate(0%) hue-rotate(251deg) brightness(108%) contrast(100%);

    --seperator: #ededf6;

    // navigation bar
    --navbar-close: brightness(0.7);
    //menu
    --megamenu: #292E39;
    --megamenu-arrow: brightness(0) saturate(100%) invert(17%) sepia(7%) saturate(1544%) hue-rotate(183deg) brightness(91%) contrast(94%);
    --megamenu-shadow: rgba(23, 28, 40, 0.40);
    --megamenu-seperator: #171C28;
    --megamenu-link-hover: #0071DC;

    --megamenu-text: #B9BABE;

    // slideshow
    --slideshow-caption-color: #FFFFFF;

    // category
    --category-price: #ffffff;
    --category-img: #292E39;
    --category-item: #171C28;
    --category-blur: #000000;

    // products
    --product-filter: #ffffff;
    --product-filter--hover: #00ff2a;
    --product-bg: #171C28;
    --product-shadow: rgba(17, 17, 35, 0.2);
    --product-reaction: #292E39;
    --product-name-hover: #00ff2a;

    --filter-dialog: #292E39;
    
    
    // css components 
    --slider-thumb: #171C28;

    // footers
    --footer-bg: #171C28;
    --footer-title: #ffffff;
    --footer-text: #b4b4b4;
}


///////////////need to be fixed///////////////////////
/// 
/// 


html[theme="dark"] {
    // page sign...
    --log-title: #B9BABE;
    --log-desc: #9E9DA8;
    --log-form-border: #B9BABE;
    
    //features
    --log-feature: #171C28;
    --log-feature-text: #B9BABE;
    --log-container: #292E39;
    
    --log-node-item-1: #B9BABE;
    --log-node-item-2: #B9BABE;
    --log-next: brightness(0) saturate(100%) invert(86%) sepia(8%) saturate(94%) hue-rotate(191deg) brightness(86%) contrast(89%);
}

// css components
html[theme="dark"] {
    // reviews
        --rv-item: #171C28;
    // common container 
        --container-text: #B9BABE;
    // breakcumbs
        --bk: #171C28;
        --bk-regular: #9E9DA8;
        --bk-regular-hover: #6e69aa;
        --bk-current: #FFFFFF;
        --bk-icon: brightness(0) saturate(100%) invert(66%) sepia(34%) saturate(0%) hue-rotate(302deg) brightness(91%) contrast(84%);
        --bk-icon-current: brightness(69);
        --bk-shadow: rgba(23, 28, 40, 0.20);
    // buttons
        //3
        --button-type-3-bg: #F8F8FB;
        --button-type-3-bg-selected: #5b54ac;
        --button-type-3-color: #9E9DA8;
        --button-type-3-color-selected: var(--txt-caption);
        //4
        --button-type-4: #292E39;
        --button-type-4-txt: #B9BABE;
        --button-type-4-hover: #B9BABE;
        --button-type-4-hover-txt: #292E39;
        --button-type-4-hover-icon: brightness(0) saturate(100%) invert(17%) sepia(3%) saturate(3411%) hue-rotate(184deg) brightness(91%) contrast(93%);
    
    // txtboxs
        //3
        --txtbox-3-unfocus: #B9BABE;
        --txtbox-3-unfocus-icon: brightness(0) saturate(100%) invert(86%) sepia(8%) saturate(94%) hue-rotate(191deg) brightness(86%) contrast(89%);
        --txtbox-3-focus: #ffffff;
        --txtbox-3-focus-icon: brightness(111);
}


// page/product 
html[theme="dark"] {
    --bg-pageproduct: #292E39; 
    --product-meta-bg: #171C28;

}


html[theme="dark"] {
    --bg-pagefav: #171C28;
    --bg-shadow-pagefav: rgba(23, 28, 40, 0.20);
    --seperator-pagefav: #292E39;
}