@use "./../abstracts" as a;
html[theme="light"] {
    --body-bg: #f6f6f6;
    --scrollbar: #0071DC;
    
    --header-top-cta: #ffffff;
    --header-bg: #eeeeee;
    --heading-box-shadow: rgba(237, 237, 246, 0.20);

    --header-submenu-title-selected: #6c6e20;

    --txt-caption: #1a162e;
    --icon-caption: brightness(0) saturate(100%) invert(5%) sepia(47%) saturate(2636%) hue-rotate(234deg) brightness(96%) contrast(91%);

    --seperator: #ededf6;

    // navigation bar
    --navbar-close: brightness(3);

    //menu
    --megamenu: #ffffff;
    --megamenu-arrow: brightness(0) saturate(100%) invert(98%) sepia(98%) saturate(10%) hue-rotate(209deg) brightness(104%) contrast(102%);
    --megamenu-shadow: rgba(200, 200, 200, 0.4);
    --megamenu-seperator: #D2D1D6;
    --megamenu-link-hover: #0071DC;

    // slideshow
    --slideshow-caption-color: #FFFFFF;

    // category
    --category-price: #000000;
    --category-img: #ffffff;
    --category-item: #EEEEEE;
    --category-blur: #C1C1C1;

    // products
    --product-filter: #6C6C72;
    --product-filter--hover: #1a162e;
    --product-bg: #ffffff;
    --product-shadow: rgba(237, 237, 246, 0.20);
    --product-reaction: #ffffff;
    --product-name-hover: #0088ff;

    --filter-dialog: #ffffff;
    
    
    // css components 
    --slider-thumb: #ffffff;

    --button-type-3-bg: #F8F8FB;
    --button-type-3-bg-selected: #5b54ac;
    --button-type-3-color: #9E9DA8;
    --button-type-3-color-selected: var(--txt-caption);

    // footers
    --footer-bg: #76AEFF;
    --footer-title: #343047;
    --footer-text: #343047;
    @include a.responsive(sm) {
        --header-bg: #ffffff;
    }
}