@use "./../abstracts" as a;
html[theme="light"] {
    --body-bg: #f6f6f6;
    --scrollbar: #0071DC;
    
    --header-top-cta: #ffffff;
    --header-bg: #eeeeee;
    --heading-box-shadow: rgba(237, 237, 246, 0.20);

    --header-submenu-title-selected: #6c6e20;

    --txt-caption: #1a162e;
    --icon-caption: brightness(0) saturate(100%) invert(5%) sepia(47%) saturate(2636%) hue-rotate(234deg) brightness(96%) contrast(91%);

    --seperator: #ededf6;

    // navigation bar
    --navbar-close: brightness(3);

    //menu
    --megamenu: #ffffff;
    --megamenu-arrow: brightness(0) saturate(100%) invert(98%) sepia(98%) saturate(10%) hue-rotate(209deg) brightness(104%) contrast(102%);
    --megamenu-shadow: rgba(200, 200, 200, 0.4);
    --megamenu-seperator: #D2D1D6;
    --megamenu-link-hover: #0071DC;

    // slideshow
    --slideshow-caption-color: #FFFFFF;

    // category
    --category-price: #000000;
    --category-img: #ffffff;
    --category-item: #EEEEEE;
    --category-blur: #C1C1C1;

    // products
    --product-filter: #6C6C72;
    --product-filter--hover: #1a162e;
    --product-bg: #ffffff;
    --product-shadow: rgba(237, 237, 246, 0.20);
    --product-reaction: #ffffff;
    --product-name-hover: #0088ff;

    --filter-dialog: #ffffff;
    
    
    // css components 
    --slider-thumb: #ffffff;

    
    // footers
    --footer-bg: #77DAE6;
    --footer-title: #343047;
    --footer-text: #343047;
    @include a.responsive(sm) {
        --header-bg: #ffffff;
    }
}

html[theme="light"] {
    // page sign...
    --log-title: #1A162E;
    --log-desc: #9E9DA8;
    --log-form-border: #D2D1D6;
    
    //features
    --log-feature: #77DAE6;
    --log-feature-text: #1a162e;
    --log-container: #ffffff;
    
    --log-node-item-1: #B9BABE;
    --log-node-item-2: #EDEDF6;

}

// css components
html[theme="light"] {
    // buttons
        //3
        --button-type-3-bg: #F8F8FB;
        --button-type-3-bg-selected: #5b54ac;
        --button-type-3-color: #9E9DA8;
        --button-type-3-color-selected: var(--txt-caption);
        //4
        --button-type-3: #ffffff;
        --button-type-3-txt: #1A162E;
        --button-type-3-hover: #1A162E;
        --button-type-3-hover-txt: #ffffff;
    
    // txtboxs
        //3
        --txtbox-3-unfocus: #D2D1D6;
        --txtbox-3-unfocus-icon: brightness(0) saturate(100%) invert(95%) sepia(81%) saturate(160%) hue-rotate(181deg) brightness(86%) contrast(93%);
        --txtbox-3-focus: #1A162E;
        --txtbox-3-focus-icon: brightness(0) saturate(100%) invert(8%) sepia(33%) saturate(1402%) hue-rotate(213deg) brightness(86%) contrast(95%);
}