@use "./../abstracts/mixin" as a;
.brand {
    @include a.flex-center(flex-start, 14px);
    transition: transform .3s;
    &__icon {
        @include a.square-icon(32px);
    }
    &__text {
        color: var(--txt-caption);
        font-size: 2.2rem;
    }
    &:hover{
        transform: scale(1.02);
    }
}