@use "./../abstracts" as a;
.category {
    &__title {
        @extend %b-24;
        @include a.responsive(sm) {font-size: 2.2rem;}
    }
    // container
    &__container {
        --gutter-x: 51px;
        @include a.responsive(xl) {--gutter-x: 20px; --gutter-y: 20px;}
    }
    // item
    &__item {
        padding: 20px;border-radius: 16px; display: flex; align-items: center; gap: 20px;
        background: var(--category-item);
        @include a.responsive(sm) {border-radius: 10px;}
    }
    &__item:hover &__img-real {transform: scale(1.15)}
    &__img {
        background: var(--category-img); 
        display: flex; align-items: center;justify-content: center;
        @include a.square-icon(116px,8px);
        flex-shrink: 0; overflow: hidden;
        &-real {
            @include a.square-icon(100%);
            filter: drop-shadow(0 3px 10px var(--category-blur));
            transition: transform .3s;
        }
        @include a.responsive(sm) {@include a.square-icon(88px,8px);}
    }
    &__price {
        @extend %b-22; margin-bottom: 6px; color: var(--category-price);
        @include a.responsive(sm) {font-size: 1.8rem;}
    }
    &__name {
        @include a.responsive(sm) {font-size: 1.4rem;}
    }
}