@use "./../abstracts" as a;
.txtbox {
    border-radius: 6px; color: var(--txt-caption); border: 1px solid currentColor;
    &__type-1 { //search 
        @extend %md-14;
        @include a.padding(10px, 16px); background: inherit;
        @include a.flex(center, space-between, 20px);
        & > * {flex-shrink: 0}
        &--real {flex-grow: 1; color: inherit;}
    } 
    
    &__type-2 { 
        @include a.padding(8px, 12px); background: inherit;
        &--real {width: 100%; min-width: 0; color: inherit;}
    }

    &__type-3 { // search with icons
        @extend %md-18;
        @include a.padding(12px, 12px); 
        @include a.flex(center, space-between, 20px);
        background: inherit; color: var(--txtbox-3-unfocus);
        & > * {flex-shrink: 0}
        &--real {flex-grow: 1; color: inherit;}
        img {filter: var(--txtbox-3-unfocus-icon)};
        &--focus {
            color: var(--txtbox-3-focus);
            img {filter: var(--txtbox-3-focus-icon)};
        }
    }

    &__type-4 { // similar to type 3 but with two textboxes
        @extend %md-18;
        @include a.padding(12px, 12px); 
        @include a.flex(stretch, null, 12px);
        background: inherit; color: var(--txtbox-3-unfocus);
        & > * {flex-shrink: 0}
        &--real {flex: 1 0; min-width: 0;; color: inherit;}
        img {filter: var(--txtbox-3-unfocus-icon)};
        .seperator {background: var(--txtbox-3-unfocus); width: 1px; flex-shrink: 0;}
        &--focus {
            color: var(--txtbox-3-focus);
            img {filter: var(--txtbox-3-focus-icon)};
            .seperator {background: var(--txtbox-3-focus)}
        }
    }

    &__icon { @include a.square-icon(24px); }
}
