@use "./../abstracts" as a;
%bdrs {border-radius: 6px;}
.button {
    @include a.flex-center(center, 10px);
    img {@include a.square-icon(24px)}
    &__type-1 { // buttons with yellow background
        @extend %md-15; @extend %bdrs;
        background: #FFB700; color: #1A162E; transition: background .3s;
        &:hover {background: #ffc226}
    }
    &__type-2 { // plain button
        color: var(--text-caption); transition: color .3s;
        &:hover {color: #77DAE6}
    }
    &__type-3 { // toggle buttons
        @extend %bdrs; @extend %md-14;@include a.padding(6px, 12px); background: var(--button-type-3-bg); color: var(--button-type-3-color); transition: background .3s, color .3s;
        &:hover {color: var(--button-type-3-color-selected);}
        &--selected {background: var(--button-type-3-bg-selected); color: var(--button-type-3-color-selected);}
    }
    &__type-4 { // button type 1 but with inherit color
        @extend %md-15; @extend %bdrs;
        background: var(--button-type-4); color: var(--button-type-4-txt); border: 1px solid #D2D1D6;
        transition: background .3s, color .3s, filter .3s;
        &:hover {
            background: var(--button-type-4-hover); color: var(--button-type-4-hover-txt); border-color: none;
            img {filter: var(--button-type-4-hover-icon);}
        }
    }
}