@use "./../abstracts" as a;
.header {
    background: var(--header-bg); //transition: visibility .3s, background .3s;
    position: sticky; top: 0;left: 0;z-index: 1111;
    @include a.responsive(sm) {box-shadow: 0px 20px 60px 10px var(--header-box-shadow);}
    * {
        color: inherit;
    }
    &__wrapper {
        //transition: padding .3s, background .3s, visibility .3s;
        @include a.flex-center(space-between);
        padding-top: 30px;padding-bottom: 30px;
        position: relative;
        & > * {flex-shrink: 0; z-index: 10;}
        .brand {z-index: 10;}

        @include a.responsive(sm) {gap: 39px; justify-content: center;}
    }
    &__main {
        @include a.flex-center();
    }
    &__nav {
        margin-left: 144px;
        @include a.responsive(xl) {margin-left: 36px;}
        @include a.responsive(lg) {display: none;}
        ul {list-style-type: none; }
        &-list {
            @include a.flex-center(null, 30px);
            & > li > a {
                display: inline-flex; align-items: center;
                position: relative; z-index: 10;
                @extend %md-15;
                color: var(--text-caption);
                img {
                    @include a.square-icon(12px); margin-left: 6px;
                }
            }
        }
    }
    &__nav-dropdown {
        @include a.square-icon(36px);
        padding: 6px;
        display: none;
        @include a.responsive(lg) {
            display: flex;
        }
    }
    &__dashboard {
        @include a.flex-center($g: 20px);
        border-radius: 8px;
        & > * {border-radius: inherit;}
    }
    &__user-avatar {
        @include a.square-icon(50px);
        box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.08);
        img {border-radius: inherit;}
    }
    &__button {
        padding: 10px 20px; height: 100%;
        transition: filter .3s;
        @include a.flex-center($g: 10px);
        img {@include a.square-icon(24px)}
        span {
            @extend %md-15;
            @include a.responsive(md) {display: none;}
        }
        &:hover {
            filter: brightness(0.7);
        }
    }
    &__button-container {
        min-width: 50px; height: 50px;
        background: var(--header-top-cta);
        overflow: hidden;
        box-shadow: 0px 20px 60px 10px rgba(var(--seperator),0.2 );
        @include a.flex-center(center);
        &--long {@include a.flex-center()} 
        
        @include a.responsive(sm) {display: none;}
    }
    &__search {padding: 0; @include a.square-icon(100%, $center: true)}
    &__button-separate {width: 2px; height: 30px; background: var(--seperator);}
    &__icon {filter: var(--icon-caption);}
} 


.navbar {
    &__item {
        &:hover > .megamenu {
            display: block;
        }
    }
}
/* 
@include a.responsive() {
    .header--scrolling {
        visibility: hidden;
        .header__wrapper {visibility: visible; border-radius: 20px; padding: 30px; background: var(--header-bg); transform: translateY(20px)};
        .megamenu {padding-top: 111px;}
    }
} */