@use "./../abstracts" as a;
.header {
    background: var(--header-bg); 
    position: sticky; top: 0;left: 0;z-index: 1111;
    * {
        color: inherit;
    }
    &__wrapper {
        @include a.flex-center(space-between);
        padding-top: 30px;padding-bottom: 30px;
    }
    &__main {
        @include a.flex-center();
    }
    &__nav {
        margin-left: 144px;
        ul {
            @include a.flex-center(null, 30px);
            list-style-type: none; display: flex; 
        }
        a {
            display: inline-flex; align-items: center;
            @extend %md-15;
            color: var(--text-caption);
            img {
                @include a.square-icon(12px); margin-left: 6px;
            }
        }
    }
    &__dashboard {
        @include a.flex-center($g: 20px);
        border-radius: 8px;
        & > * {border-radius: inherit;}
    }
    &__user-avatar {
        @include a.square-icon(50px);
        box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.08);
        img {border-radius: inherit;}
    }
    &__button {
        padding: 10px 20px; height: 100%;
        transition: filter .3s;
        @include a.flex-center($g: 10px);
        img {@include a.square-icon(24px)}
        span {@extend %md-15;}
        &:hover {
            filter: brightness(0.7);
        }
    }
    &__button-container {
        min-width: 50px; height: 50px;
        background: var(--header-top-cta);
        overflow: hidden;
        box-shadow: 0px 20px 60px 10px rgba(var(--seperator),0.2 );
        @include a.flex-center(center);
        &--long {@include a.flex-center()} 
    }
    &__search {padding: 0; @include a.square-icon(100%, $center: true)}
    &__button-separate {width: 2px; height: 30px; background: var(--seperator);}
    &__icon {filter: var(--txt-caption__filter);}
} 