@use "./../abstracts" as a;

.review {
    &__item {
        background: var(--rv-item); height: 100%;
        padding: 30px;border-radius: 16px; display: grid;gap: 20px;
    }
    &__user {
        display: flex; gap: 20px;
        img {@include a.square-icon(80px, 50%); object-fit: cover; flex-shrink: 0;}
    }
    &__cmt h3 {margin-bottom: 10px; @extend %md-22;}
    &__rating {display: flex; gap: 20px;}
}