@use "./../abstracts" as a;
.header {
    background: var(--header-bg); //transition: visibility .3s, background .3s;
    position: sticky; top: 0;left: 0;z-index: 1111;
    @include a.responsive(sm) {box-shadow: 0px 20px 60px 10px var(--header-box-shadow);}
    * {
        color: inherit;
    }
    &__wrapper {
        //transition: padding .3s, background .3s, visibility .3s;
        @include a.flex-center(space-between);
        padding-top: 30px;padding-bottom: 30px;
        position: relative;
        & > * {flex-shrink: 0; }
        .brand {z-index: 10;}

        @include a.responsive(sm) {gap: 39px; justify-content: center; padding-top: 16px;padding-bottom: 16px;}
    }
    &__main {
        @include a.flex-center();
    }
    &__nav {
        margin-left: 144px;
        @include a.responsive(xl) {margin-left: 36px;}
        @include a.responsive(lg) {display: none;}
        ul {list-style-type: none; }
        &-list {
            @include a.flex-center(null, 30px);
        }
    }
    &__nav-dropdown {
        @include a.square-icon(36px);
        padding: 6px;
        display: none;
        @include a.responsive(lg) {
            display: flex;
        }
    }
    &__dashboard {
        @include a.flex-center($g: 20px);
        border-radius: 8px;
        &-item {border-radius: inherit;}
    }
    &__user-avatar {
        @include a.square-icon(50px);
        box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.08);
        img {border-radius: inherit;}
    }
    &__button {
        padding: 10px 20px; height: 100%;
        transition: filter .3s;
        @include a.flex-center($g: 10px);
        img {@include a.square-icon(24px)}
        span {@extend %md-15}
        &:hover {
            filter: brightness(0.7);
        }
    }
    &__button-container {
        min-width: 50px; height: 50px;
        background: var(--header-top-cta);
        overflow: hidden;
        box-shadow: 0px 20px 60px 10px rgba(var(--seperator),0.2 );
        @include a.flex-center(center);
        &--long {@include a.flex-center()}         
    }
    &__search {padding: 0; @include a.square-icon(100%, $center: true)}
    &__button-separate {width: 2px; height: 30px; background: var(--seperator);}
    &__sign {
        &-up {padding: 12px 18px;color: initial;}
        &-in {padding-left: 14px;padding-right: 14px;}
    }
} 

.navbar {
    @include a.responsive(lg) {transition: transform .3s, opacity 0s;}
    &__item > a {
        display: flex; align-items: center;
        position: relative; z-index: 10;
        @extend %md-15;
        color: var(--text-caption);
        img {
            @include a.square-icon(12px); margin-left: 6px;
        }
    }
    &__item {
        &--show > .megamenu {
            display: block;
        }
    }
    &__dropdown-close {
        transition: filter .3s;
        @include a.square-icon(24px);
        &:hover {filter: var(--navbar-close);}
    }
    
    &__overlay {
        position: fixed; inset: 0 0 0 0; background: rgba(0, 0, 0, 0.3);
        z-index: 30; visibility: hidden;
    }

    //for card and favourite 
    &__button {
        align-items: center; gap: 15px; margin-right: 20px;
        img {@include a.square-icon(24px);}
        span {@extend %md-15}
        &-value {margin-left: auto;}
    }
    @include a.responsive(lg) {
        &--show + &__overlay {visibility: visible;}
    }
    
    @include a.responsive(lg) {
        &--hide {transform: translateX(-100%); opacity: 0;}
        &--show {transform: translateX(0); opacity: 1;}
    }
}

// responsive options for navigation bar

    @include a.responsive(lg) {
        .header {
            &__nav{
                position: fixed; width: 60%; height: 100%; top: 0;left: 0; background: var(--megamenu);margin: 0; z-index: 31; padding: 20px 10px 20px 20px; border-top-right-radius: 20px; border-bottom-right-radius: 20px; max-height: 1262px;
                display: flex; flex-direction: column; gap: 20px;
                & > &-list {overflow-y: auto; overscroll-behavior: contain; flex-grow: 1;align-items: flex-start; align-content: flex-start; padding-right: 10px;}
            }
            &__nav-list {display: grid; gap: 20px}
        } 
        .navbar {
            &__item > a {font-size: 1.6rem; padding: 4px 0; display: flex; justify-content: space-between; background: var(--megamenu); @include a.sticky; }
            &__dropdown {transform: rotate(-90deg); transition: transform .3s;}
            &__item--show &__dropdown {transform: rotate(0deg);}
        }
    } 

