button, hr, input {
  overflow: visible;
}

progress, sub, sup {
  vertical-align: baseline;
}

[type=checkbox], [type=radio], legend {
  box-sizing: border-box;
  padding: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

details, main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
  appearance: button;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: ButtonText dotted 1px;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

[hidden], template {
  display: none;
}

p, li, ul, h6, h5, h4, h3, h2, h1 {
  margin: 0;
  padding: 0;
  line-height: 1;
  text-indent: none;
}

a {
  text-decoration: none;
}

button, input {
  background: inherit;
  padding: 0;
  margin: 0;
  font: inherit;
  outline: none;
  border: none;
}

*, ::before, ::after {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Gordita";
  font-weight: 300;
  font-size: 1.6rem;
  color: var(--txt-caption);
}

h1, h2, h3 {
  font-weight: 700;
}

h1 {
  font-size: 4.2rem;
  line-height: 1.4;
}

img {
  width: 100%;
  height: 100%;
}

.container-fluid, .container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  --gutter-x: 30px;
  --gutter-y: 0px;
}

.container {
  padding-left: calc(var(--gutter-x) / 2);
  padding-right: calc(var(--gutter-x) / 2);
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--gutter-x) / -2);
  margin-right: calc(var(--gutter-x) / -2);
  margin-top: calc(var(--gutter-y) / -1);
}
.row > * {
  flex: 1 0;
  padding-left: calc(var(--gutter-x) / 2);
  padding-right: calc(var(--gutter-x) / 2);
  margin-top: calc(var(--gutter-y));
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: calc(100% / 1);
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: calc(100% / 2);
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: calc(100% / 3);
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: calc(100% / 4);
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: calc(100% / 5);
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: calc(100% / 6);
}

.col-1 {
  flex: 0 0 auto;
  width: calc(100% / 12 * 1);
}

.col-2 {
  flex: 0 0 auto;
  width: calc(100% / 12 * 2);
}

.col-3 {
  flex: 0 0 auto;
  width: calc(100% / 12 * 3);
}

.col-4 {
  flex: 0 0 auto;
  width: calc(100% / 12 * 4);
}

.col-5 {
  flex: 0 0 auto;
  width: calc(100% / 12 * 5);
}

.col-6 {
  flex: 0 0 auto;
  width: calc(100% / 12 * 6);
}

.col-7 {
  flex: 0 0 auto;
  width: calc(100% / 12 * 7);
}

.col-8 {
  flex: 0 0 auto;
  width: calc(100% / 12 * 8);
}

.col-9 {
  flex: 0 0 auto;
  width: calc(100% / 12 * 9);
}

.col-10 {
  flex: 0 0 auto;
  width: calc(100% / 12 * 10);
}

.col-11 {
  flex: 0 0 auto;
  width: calc(100% / 12 * 11);
}

.col-12 {
  flex: 0 0 auto;
  width: calc(100% / 12 * 12);
}

.offset-0 {
  margin-left: calc(100% / 12 * 0);
}

.offset-1 {
  margin-left: calc(100% / 12 * 1);
}

.offset-2 {
  margin-left: calc(100% / 12 * 2);
}

.offset-3 {
  margin-left: calc(100% / 12 * 3);
}

.offset-4 {
  margin-left: calc(100% / 12 * 4);
}

.offset-5 {
  margin-left: calc(100% / 12 * 5);
}

.offset-6 {
  margin-left: calc(100% / 12 * 6);
}

.offset-7 {
  margin-left: calc(100% / 12 * 7);
}

.offset-8 {
  margin-left: calc(100% / 12 * 8);
}

.offset-9 {
  margin-left: calc(100% / 12 * 9);
}

.offset-10 {
  margin-left: calc(100% / 12 * 10);
}

.offset-11 {
  margin-left: calc(100% / 12 * 11);
}

.gx-0, .g-0 {
  --gutter-x: 0px;
}

.gy-0, .g-0 {
  --gutter-y: 0px;
}

.gx-1, .g-1 {
  --gutter-x: 7.5px;
}

.gy-1, .g-1 {
  --gutter-y: 7.5px;
}

.gx-2, .g-2 {
  --gutter-x: 15px;
}

.gy-2, .g-2 {
  --gutter-y: 15px;
}

.gx-3, .g-3 {
  --gutter-x: 30px;
}

.gy-3, .g-3 {
  --gutter-y: 30px;
}

.gx-4, .g-4 {
  --gutter-x: 45px;
}

.gy-4, .g-4 {
  --gutter-y: 45px;
}

.gx-5, .g-5 {
  --gutter-x: 90px;
}

.gy-5, .g-5 {
  --gutter-y: 90px;
}

@media all and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: calc(100% / 1);
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: calc(100% / 2);
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: calc(100% / 3);
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: calc(100% / 4);
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: calc(100% / 5);
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: calc(100% / 6);
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 1);
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 2);
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 3);
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 4);
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 5);
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 6);
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 7);
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 8);
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 9);
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 10);
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 11);
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 12);
  }
  .offset-sm-0 {
    margin-left: calc(100% / 12 * 0);
  }
  .offset-sm-1 {
    margin-left: calc(100% / 12 * 1);
  }
  .offset-sm-2 {
    margin-left: calc(100% / 12 * 2);
  }
  .offset-sm-3 {
    margin-left: calc(100% / 12 * 3);
  }
  .offset-sm-4 {
    margin-left: calc(100% / 12 * 4);
  }
  .offset-sm-5 {
    margin-left: calc(100% / 12 * 5);
  }
  .offset-sm-6 {
    margin-left: calc(100% / 12 * 6);
  }
  .offset-sm-7 {
    margin-left: calc(100% / 12 * 7);
  }
  .offset-sm-8 {
    margin-left: calc(100% / 12 * 8);
  }
  .offset-sm-9 {
    margin-left: calc(100% / 12 * 9);
  }
  .offset-sm-10 {
    margin-left: calc(100% / 12 * 10);
  }
  .offset-sm-11 {
    margin-left: calc(100% / 12 * 11);
  }
  .gx-sm-0, .g-sm-0 {
    --gutter-x: 0px;
  }
  .gy-sm-0, .g-sm-0 {
    --gutter-y: 0px;
  }
  .gx-sm-1, .g-sm-1 {
    --gutter-x: 7.5px;
  }
  .gy-sm-1, .g-sm-1 {
    --gutter-y: 7.5px;
  }
  .gx-sm-2, .g-sm-2 {
    --gutter-x: 15px;
  }
  .gy-sm-2, .g-sm-2 {
    --gutter-y: 15px;
  }
  .gx-sm-3, .g-sm-3 {
    --gutter-x: 30px;
  }
  .gy-sm-3, .g-sm-3 {
    --gutter-y: 30px;
  }
  .gx-sm-4, .g-sm-4 {
    --gutter-x: 45px;
  }
  .gy-sm-4, .g-sm-4 {
    --gutter-y: 45px;
  }
  .gx-sm-5, .g-sm-5 {
    --gutter-x: 90px;
  }
  .gy-sm-5, .g-sm-5 {
    --gutter-y: 90px;
  }
}
@media all and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: calc(100% / 1);
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: calc(100% / 2);
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: calc(100% / 3);
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: calc(100% / 4);
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: calc(100% / 5);
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: calc(100% / 6);
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 1);
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 2);
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 3);
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 4);
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 5);
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 6);
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 7);
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 8);
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 9);
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 10);
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 11);
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 12);
  }
  .offset-md-0 {
    margin-left: calc(100% / 12 * 0);
  }
  .offset-md-1 {
    margin-left: calc(100% / 12 * 1);
  }
  .offset-md-2 {
    margin-left: calc(100% / 12 * 2);
  }
  .offset-md-3 {
    margin-left: calc(100% / 12 * 3);
  }
  .offset-md-4 {
    margin-left: calc(100% / 12 * 4);
  }
  .offset-md-5 {
    margin-left: calc(100% / 12 * 5);
  }
  .offset-md-6 {
    margin-left: calc(100% / 12 * 6);
  }
  .offset-md-7 {
    margin-left: calc(100% / 12 * 7);
  }
  .offset-md-8 {
    margin-left: calc(100% / 12 * 8);
  }
  .offset-md-9 {
    margin-left: calc(100% / 12 * 9);
  }
  .offset-md-10 {
    margin-left: calc(100% / 12 * 10);
  }
  .offset-md-11 {
    margin-left: calc(100% / 12 * 11);
  }
  .gx-md-0, .g-md-0 {
    --gutter-x: 0px;
  }
  .gy-md-0, .g-md-0 {
    --gutter-y: 0px;
  }
  .gx-md-1, .g-md-1 {
    --gutter-x: 7.5px;
  }
  .gy-md-1, .g-md-1 {
    --gutter-y: 7.5px;
  }
  .gx-md-2, .g-md-2 {
    --gutter-x: 15px;
  }
  .gy-md-2, .g-md-2 {
    --gutter-y: 15px;
  }
  .gx-md-3, .g-md-3 {
    --gutter-x: 30px;
  }
  .gy-md-3, .g-md-3 {
    --gutter-y: 30px;
  }
  .gx-md-4, .g-md-4 {
    --gutter-x: 45px;
  }
  .gy-md-4, .g-md-4 {
    --gutter-y: 45px;
  }
  .gx-md-5, .g-md-5 {
    --gutter-x: 90px;
  }
  .gy-md-5, .g-md-5 {
    --gutter-y: 90px;
  }
}
@media all and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: calc(100% / 1);
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: calc(100% / 2);
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: calc(100% / 3);
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: calc(100% / 4);
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: calc(100% / 5);
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: calc(100% / 6);
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 1);
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 2);
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 3);
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 4);
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 5);
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 6);
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 7);
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 8);
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 9);
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 10);
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 11);
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 12);
  }
  .offset-lg-0 {
    margin-left: calc(100% / 12 * 0);
  }
  .offset-lg-1 {
    margin-left: calc(100% / 12 * 1);
  }
  .offset-lg-2 {
    margin-left: calc(100% / 12 * 2);
  }
  .offset-lg-3 {
    margin-left: calc(100% / 12 * 3);
  }
  .offset-lg-4 {
    margin-left: calc(100% / 12 * 4);
  }
  .offset-lg-5 {
    margin-left: calc(100% / 12 * 5);
  }
  .offset-lg-6 {
    margin-left: calc(100% / 12 * 6);
  }
  .offset-lg-7 {
    margin-left: calc(100% / 12 * 7);
  }
  .offset-lg-8 {
    margin-left: calc(100% / 12 * 8);
  }
  .offset-lg-9 {
    margin-left: calc(100% / 12 * 9);
  }
  .offset-lg-10 {
    margin-left: calc(100% / 12 * 10);
  }
  .offset-lg-11 {
    margin-left: calc(100% / 12 * 11);
  }
  .gx-lg-0, .g-lg-0 {
    --gutter-x: 0px;
  }
  .gy-lg-0, .g-lg-0 {
    --gutter-y: 0px;
  }
  .gx-lg-1, .g-lg-1 {
    --gutter-x: 7.5px;
  }
  .gy-lg-1, .g-lg-1 {
    --gutter-y: 7.5px;
  }
  .gx-lg-2, .g-lg-2 {
    --gutter-x: 15px;
  }
  .gy-lg-2, .g-lg-2 {
    --gutter-y: 15px;
  }
  .gx-lg-3, .g-lg-3 {
    --gutter-x: 30px;
  }
  .gy-lg-3, .g-lg-3 {
    --gutter-y: 30px;
  }
  .gx-lg-4, .g-lg-4 {
    --gutter-x: 45px;
  }
  .gy-lg-4, .g-lg-4 {
    --gutter-y: 45px;
  }
  .gx-lg-5, .g-lg-5 {
    --gutter-x: 90px;
  }
  .gy-lg-5, .g-lg-5 {
    --gutter-y: 90px;
  }
}
@media all and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: calc(100% / 1);
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: calc(100% / 2);
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: calc(100% / 3);
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: calc(100% / 4);
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: calc(100% / 5);
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: calc(100% / 6);
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 1);
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 2);
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 3);
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 4);
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 5);
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 6);
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 7);
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 8);
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 9);
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 10);
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 11);
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 12);
  }
  .offset-xl-0 {
    margin-left: calc(100% / 12 * 0);
  }
  .offset-xl-1 {
    margin-left: calc(100% / 12 * 1);
  }
  .offset-xl-2 {
    margin-left: calc(100% / 12 * 2);
  }
  .offset-xl-3 {
    margin-left: calc(100% / 12 * 3);
  }
  .offset-xl-4 {
    margin-left: calc(100% / 12 * 4);
  }
  .offset-xl-5 {
    margin-left: calc(100% / 12 * 5);
  }
  .offset-xl-6 {
    margin-left: calc(100% / 12 * 6);
  }
  .offset-xl-7 {
    margin-left: calc(100% / 12 * 7);
  }
  .offset-xl-8 {
    margin-left: calc(100% / 12 * 8);
  }
  .offset-xl-9 {
    margin-left: calc(100% / 12 * 9);
  }
  .offset-xl-10 {
    margin-left: calc(100% / 12 * 10);
  }
  .offset-xl-11 {
    margin-left: calc(100% / 12 * 11);
  }
  .gx-xl-0, .g-xl-0 {
    --gutter-x: 0px;
  }
  .gy-xl-0, .g-xl-0 {
    --gutter-y: 0px;
  }
  .gx-xl-1, .g-xl-1 {
    --gutter-x: 7.5px;
  }
  .gy-xl-1, .g-xl-1 {
    --gutter-y: 7.5px;
  }
  .gx-xl-2, .g-xl-2 {
    --gutter-x: 15px;
  }
  .gy-xl-2, .g-xl-2 {
    --gutter-y: 15px;
  }
  .gx-xl-3, .g-xl-3 {
    --gutter-x: 30px;
  }
  .gy-xl-3, .g-xl-3 {
    --gutter-y: 30px;
  }
  .gx-xl-4, .g-xl-4 {
    --gutter-x: 45px;
  }
  .gy-xl-4, .g-xl-4 {
    --gutter-y: 45px;
  }
  .gx-xl-5, .g-xl-5 {
    --gutter-x: 90px;
  }
  .gy-xl-5, .g-xl-5 {
    --gutter-y: 90px;
  }
}
@media all and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: calc(100% / 1);
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: calc(100% / 2);
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: calc(100% / 3);
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: calc(100% / 4);
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: calc(100% / 5);
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: calc(100% / 6);
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 1);
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 2);
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 3);
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 4);
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 5);
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 6);
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 7);
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 8);
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 9);
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 10);
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 11);
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: calc(100% / 12 * 12);
  }
  .offset-xxl-0 {
    margin-left: calc(100% / 12 * 0);
  }
  .offset-xxl-1 {
    margin-left: calc(100% / 12 * 1);
  }
  .offset-xxl-2 {
    margin-left: calc(100% / 12 * 2);
  }
  .offset-xxl-3 {
    margin-left: calc(100% / 12 * 3);
  }
  .offset-xxl-4 {
    margin-left: calc(100% / 12 * 4);
  }
  .offset-xxl-5 {
    margin-left: calc(100% / 12 * 5);
  }
  .offset-xxl-6 {
    margin-left: calc(100% / 12 * 6);
  }
  .offset-xxl-7 {
    margin-left: calc(100% / 12 * 7);
  }
  .offset-xxl-8 {
    margin-left: calc(100% / 12 * 8);
  }
  .offset-xxl-9 {
    margin-left: calc(100% / 12 * 9);
  }
  .offset-xxl-10 {
    margin-left: calc(100% / 12 * 10);
  }
  .offset-xxl-11 {
    margin-left: calc(100% / 12 * 11);
  }
  .gx-xxl-0, .g-xxl-0 {
    --gutter-x: 0px;
  }
  .gy-xxl-0, .g-xxl-0 {
    --gutter-y: 0px;
  }
  .gx-xxl-1, .g-xxl-1 {
    --gutter-x: 7.5px;
  }
  .gy-xxl-1, .g-xxl-1 {
    --gutter-y: 7.5px;
  }
  .gx-xxl-2, .g-xxl-2 {
    --gutter-x: 15px;
  }
  .gy-xxl-2, .g-xxl-2 {
    --gutter-y: 15px;
  }
  .gx-xxl-3, .g-xxl-3 {
    --gutter-x: 30px;
  }
  .gy-xxl-3, .g-xxl-3 {
    --gutter-y: 30px;
  }
  .gx-xxl-4, .g-xxl-4 {
    --gutter-x: 45px;
  }
  .gy-xxl-4, .g-xxl-4 {
    --gutter-y: 45px;
  }
  .gx-xxl-5, .g-xxl-5 {
    --gutter-x: 90px;
  }
  .gy-xxl-5, .g-xxl-5 {
    --gutter-y: 90px;
  }
}
.header__nav a, .header__button span {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.45;
}

.header {
  background: var(--header-bg);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1111;
}
.header * {
  color: inherit;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}
.header__main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__nav {
  margin-left: 144px;
}
.header__nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style-type: none;
  display: flex;
}
.header__nav a {
  display: inline-flex;
  align-items: center;
  color: var(--text-caption);
}
.header__nav a img {
  width: 12px;
  height: 12px;
  margin-left: 6px;
}
.header__dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 8px;
}
.header__dashboard > * {
  border-radius: inherit;
}
.header__user-avatar {
  width: 50px;
  height: 50px;
  box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.08);
}
.header__user-avatar img {
  border-radius: inherit;
}
.header__button {
  padding: 10px 20px;
  height: 100%;
  transition: filter 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.header__button img {
  width: 24px;
  height: 24px;
}
.header__button:hover {
  filter: brightness(0.7);
}
.header__button-container {
  min-width: 50px;
  height: 50px;
  background: var(--header-top-cta);
  overflow: hidden;
  box-shadow: 0px 20px 60px 10px rgba(var(--seperator), 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__button-container--long {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__search {
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__button-separate {
  width: 2px;
  height: 30px;
  background: var(--seperator);
}
.header__icon {
  filter: var(--txt-caption__filter);
}

.brand {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 14px;
  transition: transform 0.3s;
}
.brand__icon {
  width: 32px;
  height: 32px;
}
.brand__text {
  color: var(--txt-caption);
  font-size: 2.2rem;
}
.brand:hover {
  transform: scale(1.02);
}

html[theme=dark] {
  --header-top-cta: #292e39;
  --header-bg: #171c28;
  --txt-caption: #ffffff;
  --txt-caption__filter: invert(99%) sepia(1%) saturate(0%) hue-rotate(251deg) brightness(108%) contrast(100%);
  --seperator: #ededf6;
}

html[theme=light] {
  --header-top-cta: #ffffff;
  --header-bg: #eeeeee;
  --txt-caption: #1a162e;
  --txt-caption__filter: brightness(0) saturate(100%) invert(5%) sepia(47%) saturate(2636%) hue-rotate(234deg) brightness(96%) contrast(91%);
  --seperator: #ededf6;
}

/*# sourceMappingURL=main.css.map */
